[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git
[submodule "core/client"]
	path = core/client
  url = git@bitbucket.org:signalnoise/16058_drax_quarterly_ghost_admin_fork.git
